

.card-container {
  height: 600px;
  width: 600px; 
  overflow: hidden;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 20px;
  padding: 20px;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr)); /* Adjust the minimum card width as needed */
  gap: 20px; /* Adjust the gap between cards as needed */
}

.card-text {
  color: aliceblue;
}

.card-title {
  color: aliceblue;
}

.card-image {
    height: 350px;
    max-width: 100%; 
    width: auto;
    display: block; 
    margin: 0 auto; 
}


.card-grid {
  display: grid;
  gap: 20px; 
}


