body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bartop-bg {
  background-image: url("images/bartop.png");
  background-repeat: repeat-x;
  height: 100px;
  background-size: contain;
  font-weight: 200;
}

.body-base {
  background-color: tan;
  background-image: url("images/woodtect.png");
}

.carousel-wrapper-123custom {
  width: 75%;
  margin: 0 auto;
}

.carousel-wrapper-123custom img {
  width: 100%;
  height: auto;
  max-height: 600px;
  object-fit: contain;
}

.centered-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
