.inventory-table {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 20px;
  color: aliceblue;
  padding-top: 20px;
}

.inventory-font {
    color: aliceblue;
}

